select, #key, #game, #definedvar, #splits, #commentarea, #date, #videolink  {
    width:80%;
    box-sizing:border-box;
    margin-top:10px;
    border-radius: 10px;
    border: 1px;
    background-color: rgb(224, 220, 220);
}
.runtime {
    width:13%;
    height:15px;
    border:0px;
    background-color:rgba(255, 255, 255, 0.819); 
    border-radius:10px
}
#splits:invalid {
    background-color: rgb(250, 137, 137);
}
#realtimemdiv, #realtime_noloadsmdiv, #ingamemdiv {
    margin-top:10px;
    margin-bottom:0px;
    width:70%;
}
#realtime, #realtime_noloads, #igt {
    display:flex;
    padding:4px;
    background-color:rgb(224, 220, 220); 
    border-radius:10px
}
.timelbl {
    margin-left: 4px;
    margin-right: 6px;
}
#catlvl, #variables, #key, #game, #platcom, #time {width: 25%}
#platforms {width:100%}
#platcom {
    display:flex;
    flex-direction: column;
}
button {
    height: 30px;
    margin-top:10px;
    border-radius: 5px;
    border: solid black 1px;
    background-color: rgb(224, 220, 220);
}
button:hover {
    height: 30px;
    margin-top:10px;
    border-radius: 5px;
    border: solid black 1px;
    background-color: rgb(206, 205, 205);
}
button:active {
    height: 30px;
    margin-top:10px;
    border-radius: 5px;
    border: solid black 1px;
    background-color: rgb(190, 187, 187);
}
button:disabled {
    height: 30px;
    margin-top:10px;
    border-radius: 5px;
    border:1px;
    background-color: rgb(234, 233, 233);
    font-weight: lighter;
}
#masterdiv {
    display:flex;
    border-top: dotted gray 3px;
}
#catlb, #varh3, #plath3, #definedvar, #splits, #commentarea, #timeh3, #videoh3 {
    margin-bottom: 0px;
    margin-top: 10px;
}
.invisible {
    display:none;
    width:0px;
    height:0px;
}
